* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: sans-serif;
}
.wrapper {
  width: 100%;
  height: 100vh;
  background-color: black;
}

main {
  height: calc(100% - 90px);
}
 .main-nav {
  width: 250px;
  height: 100%;
  float: left;
  background-color: black;
  overflow-y:hidden;
}
.nav-logo img{
width: 80%;
}
.logo-xs{
  width: 80px;
  color: white;
}
.nav-menu ul{
  list-style: none;
}
.nav-menu li a{
  text-decoration: none;
  color: rgb(113, 113, 113);
  padding: 30px 0;
}
.nav-menu li a:hover{
  color: white;
}
.nav-menu{
  padding: 20px 0;
}
.nav-menu img{
  width: 10%;
  padding-top: 20px;
  margin-right: 10px;
  margin-top: 10px;
}
.nav-menu li{
  height: 30px;
  line-height: 30px;
  margin: 10px 0;
}
.nav-playlist{
  padding: 20px 0;
  overflow: hidden;
}
.nav-playlist ul{
  list-style: none;
}
.nav-playlist li{
  height: 30px;
  line-height: 30px;
  padding: 15px 0;
}
.nav-playlist li a{
  text-decoration: none;
  color: rgb(113, 113, 113);
  padding: 15px 0;
}
.nav-playlist li a:hover{
  color: white;
}
.nav-playlist h2{
  color: white;
  text-transform: uppercase;
  font-size: 20px;
  padding: 10px 0;
  padding: 20px 0;
}

#playlists{
 overflow: auto;
 height: 100px;
}
.btn{
  text-decoration: none;
  color: rgb(113, 113, 113);
}
.btn:hover{
  color: white;
}
.btn::before{
  content: "+";
  display: inline-block;
  font-weight: bold;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: grey;
  color: black;
  font-size: 15px;
  margin-right: 20px;
}
.nav_top{
  width: 100%;
  height: calc(100% - 90px);
  padding: 20px;
  overflow: hidden;
}
.nav_bottom{
  width: 100%;
  height: 90px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}
.nav_bottom a{
  text-decoration: none;
  color: rgb(113, 113, 113);
  border-bottom: 1px solid rgb(113, 113, 113);
  padding-right: 100px;
  padding-bottom: 10px;
}
.nav_bottom i{
  padding-right: 10px;
}
.nav_bottom p{
  margin-bottom: 10px;
}
.nav_bottom a:hover{
  color: white;
}
.nav_bottom p img{
  width: 13%;
  background-color: grey;
  border-radius: 50%;
  margin-right: 10px;
  margin-top: 20px;
}
.main-content {
  width: calc(100% - 250px);
  height: 100%;
  float: left;
  background-color: rgb(19, 24, 34);
  overflow-y: scroll;
}
.main-top{
  position: fixed;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: calc(100% - 250px);
  height: 90px;
  background-color: rgb(0, 0, 0, 0.5);
}
.button_upgrade{
  text-transform: uppercase;
}
.button_upgrade a{
  color: white;
  border: 1px solid white;
  border-radius: 30px;
  padding: 10px 40px;
  text-decoration: none;
}
.button_upgrade a:hover{
  font-size: 17px;
}

.main_content_center{
  padding-top: 90px;
  padding-left: 10px;
  padding-right: 10px;
}
.main_content_center h2{
  color: white;
  padding: 10px 10px;
}
.rp-title{
  margin-bottom: 20px;
}
#generi{
  display: flex;
  justify-content: center;
}
#generi ul{
  list-style: none;
  display: inline-block;
}
#generi ul li a{
  text-decoration: none;
  color: rgb(113, 113, 113);
  padding: 20px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
}
#generi ul li a:hover{
  color: white;
}
#generi ul li{
  display: inline-block;
}
.active{
  position: relative;
  display: inline-block;
}
.active::after{
  position: relative;
  top: 5px;
  left: 30%;
  content: "";
  display: block;
  height: 3px;
  width: 40%;
  background-color: lime;
}
#albums{
  display: flex;
  flex-wrap: wrap;
}
.album{
  width: calc(100% / 6);
}
.album img{
  width: 180px;
  height: 180px;
  margin: 10px 10px;
}
.album img:hover{
background: rgb(0, 0, 0, 0.5);
}
.album h3{
  text-align: center;
  padding: 10px;
}
.album p{
  padding: 7px;
  color: rgb(113, 113, 113);
  text-align: center;
}
.album h3 a{
  text-decoration: none;
  color: white;
  font-size: 14px;
}

#created{
  display: flex;
  justify-content: flex-start;
}
.create{
  padding: 0px;
}
.piu-ascolti{
  padding-left: 10px;
  padding-bottom: 15px;
  color: rgb(113, 113, 113);
}
.circle{
  border-radius: 50%;
}

footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  background-color: rgb(40, 40, 40);
}
.song-data{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 250px;
  height: 100%;
}
.song-data span{
  width: 33.33%;
  color: rgb(113, 113, 113);
}
.song-data span img{
  width: 60%;
  margin: 10px;
}
.song-data span p a{
  text-decoration: none;
  color: white;
}
.song-data span i{
  padding: 5px;
  margin-left: 10px;
  color: rgb(113, 113, 113);
}
.song-data span i:hover{
  color: white;
  font-size: 20px;
}
.immagine-song{
  display: flex;
  justify-content: flex-start;
}
.song-title{
  margin-left: 0px;
}
.immagine-song img{
  width: 43%;
  padding: 12px 30px 12px 12px;
}
.player-controller{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
  height: 100%;
  padding: 10px;
  flex-shrink: 0;
}
.player-controller ul li{
  display: inline-block;
  list-style:
}
.player-controller ul li a{
  color: white;
  padding: 0 20px;
}
.play_btn{
  font-size: 25px;
}
.player-controller ul li a:hover{
  font-size: 20px;
}
.player-audio{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 100%;
}
.player-audio ul li{
  display: inline-block;
  list-style:
}
.player-audio ul li a{
  color: white;
  padding: 0 20px;
}
.player-audio ul li a:hover{
  font-size: 20px;
}
@@media all and (max-height: 767px) {
  #playlist{
    height: 60%;
    overflow: auto;
  }
}
@media screen and (max-width: 1199px){
  .album{
    width: calc(100%/4);
  }
}

@media screen and (max-width:991px){
  .album{
    width: calc(100%/2);
  }
}
@media screen and (max-width:767px){
  .main-nav{
    width: 50px;
  }
  .nav-log{
    display: none;
  }
  .nav-logo{
    display: none;
  }
  .nav-playlist{
    display: none;
  }
  .nav_bottom span{
    display: none;
  }
  .nav_bottom br{
    display: none;
  }
  .nav_bottom img{
    width: 100%;
  }
  .nav-menu span{
    display: none;
  }
  .nav-menu img{
    width: 130%;
  }
  .main-content{
    width: calc(100% - 50px);
  }
  .main-top{
    width: calc(100% - 50px);
  }
}

@media screen and (min-width:767px){
  .logo-xs{
    display: none;
  }
}
